<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body rounded-3">
      <h1>Not Found</h1>
      <p>Esta pagina no existe😞</p>
      <a href="/">Volver al Inicio</a>
    </div>
  </div>
</div>