<div class="card card-body p-5 mt-4 rounded-3 d-grid">
  <h1 class="display-4">Banco app Nodejs y MongoDB!</h1>
  <p class="lead">Una aplicaci贸n simple para administrar cuentas de ahorros y
    una simulaci贸n a tiempo real CDT</p>
  <hr class="my-4" />
  <p>
    <center>
       financiera que acepta dep贸sitos del p煤blico y crea dep贸sitos a la
      vista, que com煤nmente se llaman cuentas bancarias; as铆 mismo proveen m谩s
      servicios financieros, como cr茅ditos.
    </center>

  </p>
  <div>
    <a
      class="btn btn-primary btn-lg rounded-3 d-grid gap-2 col-6 mx-auto"
      href="auth/signup"
      role="button"
    >Register</a>
  </div>
</div>
